@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="container shadow p-5">

    <h1 class="text-center mb-3">Employee Management System </h1>

    <div class="col mb-3">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-lg btn-primary"> <i class="bi bi-file-plus"></i> Add Employee</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Skills</th>
                <th scope="col">Designation</th>
                <th scope="col">Address</th>
                <th scope="col">Created On</th>
                <th scope="col">Updated On</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @if(@item.Dotnet){
                        <span>Dotnet</span>
                        }
                        @if (@item.CSharp)
                        {
                            <span>CSharp</span>
                        }
                        @if (@item.Angular)
                        {
                            <span>Angular</span>
                        }
                    </td>
                    <td>
                        @item.Designation
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.RecordCreatedOn
                    </td>
                    <td>
                        @item.LastModifiedOn
                    </td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>&nbsp;
                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
