@model PaginatedList<EMS.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["ResultOk"] != null)
{
<div id="success-alert">
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
</div>
}
<div class="container shadow p-5">

    <h1 class="text-center mb-3">Employee Management System </h1>

    <div class="row m-3 p-3">
            <div class="col-lg-6">
                <a asp-controller="Employee" asp-action="Create" class="btn btn-lg btn-primary"> <i class="bi bi-file-plus"></i> Add Employee</a>
            </div>
            <div class="col-lg-6">
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                        <b>Name/Address/Gender: </b><input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                            <input type="submit" value="Search" class="btn btn-primary" /> 
                            <a class="fw-bold text-decoration-none" asp-action="Index"> Full List</a>
                        </p>
                    </div>
                </form>
          
        </div>
    </div>
   
   
 
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col"> <a class="text-black text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name <i class="bi bi-filter"></i></a> </th>
                <th scope="col">Gender</th>
                <th scope="col">Skills</th>
                <th scope="col">Designation</th>
                <th scope="col">Address</th>
                <th scope="col">Photo</th>
                <th scope="col"><a class="text-black text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Created On <i class="bi bi-calendar-check"></i></a></th>
                <th scope="col">Updated On</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @if(@item.Dotnet){
                        <span>Dotnet</span>
                        }
                        @if (@item.CSharp)
                        {
                            <span>CSharp</span>
                        }
                        @if (@item.Angular)
                        {
                            <span>Angular</span>
                        }
                    </td>
                    <td>
                        @item.Designation
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.ImagePath
                    </td>
                    <td >
                        
                        @item.RecordCreatedOn
                    </td>
                    <td>
                        @item.LastModifiedOn
                    </td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>&nbsp;
                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
<script>
    // Set a timer to remove the success alert after 5 seconds
    setTimeout(function () {
        $('#success-alert').fadeOut(2000, function () {
            $(this).remove();
        });
    }, 2000);
</script>


